conda create -n hashing python=3.9
conda activate hashing

conda install pytorch torchvision torchaudio pytorch-cuda=11.7 -c pytorch -c nvidia

pip install dependencies/tiny-cuda-nn/bindings/torch

pip install matplotlib
pip install kornia
pip install commentjson
pip install pytorch_fid
pip install torch_ema